<% provide(:title, "生徒一覧")%>

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <%= link_to "中１", students_path(params: { grade: 1 }) %>　|　
      <%= link_to "中２", students_path(params: { grade: 2 }) %>　|　
      <%= link_to "中３", students_path(params: { grade: 3 }) %>　|　
      <%= link_to "全生徒", students_path %>
    </div>
    <div class="collapse navbar-collapse justify-content-end">
      <form class="navbar-form">
        <div class="input-group no-border">
          <%= search_form_for @search do |form| %>
            <%= form.text_field :name_cont, placeholder: "生徒検索...", class: "form-control" %>
            <%= button_tag class: "btn btn-white btn-round btn-just-icon" do %>
              <i class="material-icons">search</i>
            <% end %>
          <% end %>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-primary">
            <h4 class="card-title mt-0"><%= index_title_for_students(params[:grade], @all_students) %></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    学年
                  </th>
                  <th>
                    名前
                  </th>
                </thead>
                <tbody>
                  <% @students.each do |student| %>
                    <tr>
                      <td><%= student.grade %></td>
                      <td><%= link_to student.name, student_path(student.id) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <%= paginate @students %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
