<% provide(:title, "生徒情報")%>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">生徒情報</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                <label class="bmd-label-floating">名前:</label><br>
                  <%= @student.name %>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                <label class="bmd-label-floating">学年:</label><br>
                  <%= @student.grade %>
                </div
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">選択科目:</label><br>
                  <% @student.subjects.each do |subject| %>
                    <%= link_to subject.title, subject_path(title: subject.title) %><br>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
　　
<%= link_to "欠席登録", new_absent_day_path(student_id: @student.id) %>
<% if current_user.admin? %>
  　｜　
  <%= link_to "編集", edit_student_path(@student.id) %>　｜　
  <%= link_to "削除", student_path(@student.id), method: :delete, data: { confirm: "生徒情報を削除しますか？" } %>
<% end %>
