<% provide(:title, "補習者未実施者一覧") %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0">補習未実施者一覧</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    日付
                  </th>
                  <th>
                    学年
                  </th>
                  <th>
                    名前
                  </th>
                  <th>
                    科目
                  </th>
                  <th></th>
                </thead>
                <tbody>
                  <% @absent_days.each do |absent_day| %>
                    <tr>
                      <td><%= absent_day.date %></td>
                      <td><%= absent_day.student_grade %></td>
                      <td><%= link_to absent_day.student_name, student_path(absent_day.student_id) %></td>
                      <td><%= absent_day.subject %></td>
                      <td><%= link_to "補習を完了する", absent_day_path(absent_day.id), method: :put, data: { confirm: "補習を完了しますか？" } %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
