<% @users.each do |user| %>
  <% unless user.admin? %>
    <li>
      <%= user.name %>　　|　　
      <%= link_to "アカウント削除", user_path(user.id), method: :delete, data: { confirm: "削除しますか？"} %>
    </li>
  <% end %>
<% end %>
