<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title"><%= title %></h4>
          </div>
          <div class="card-body">
            <%= form_with model: student, local: true do |form| %>
              <%= render 'shared/error_messages', object: student %>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :name, class:"bmd-label-floating" %>
                    <%= form.text_field :name, class: "form-control" %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= form.label :grade, class:"bmd-label-floating" %>
                    <%= form.select :grade, Student::GRADES, prompt: "学年を選択してください", class: 'form-control' %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">選択科目</label>
                    <% Subject::SUBJECTS.each do |subject| %><br>
                      <%= form.check_box :subject, { multiple: true, checked: selected_subject?(student, subject) }, subject, false %>
                      <%= form.label "#{subject}", subject %>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-group">
                    </div>
                  </div>
                </div>
              </div>
              <%= form.submit button_title, class:"btn btn-primary pull-right"  %>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
      </div>
