<div class="col-lg-10 col-md-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">今日の授業</h4>
      <p class="card-category"><%= I18n.l(Date.today, format: :long) %><br></p>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead class="text-warning">
          <th>科目</th>
          <th>人数</th>
        </thead>
        <tbody>
          <% @subjects.each do |subject| %>
            <tr>
              <td><%= link_to subject.title, subject_path(title: subject.title) %></td>
              <td><%= link_to "#{subject.students.count}人", subject_path(title: subject.title) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">補習未実施者</h4>
      </div>
      <div class="card-body table-responsive">
        <% @the_supplementaries.each do |supplementary| %>
          <%= link_to student_path(supplementary) do %>
            <%= supplementary.grade %>  <%= supplementary.name %>　
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12">
    <div class="card">
      <div class="card-header card-header-info">
        <h4 class="card-title">今日の欠席者</h4>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <tbody>
            <% @the_absents.each do |the_absent| %>
              <tr>
                <td><%= link_to the_absent.grade, student_path(the_absent) %></td>
                <td><%= link_to the_absent.name, student_path(the_absent) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
