<% provide(:title, "科目一覧") %>

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <%= link_to "月", subjects_path(params: { day: "月"}) %>　|　
      <%= link_to "火", subjects_path(params: { day: "火" }) %>　|　
      <%= link_to "水", subjects_path(params: { day: "水" }) %>　|　
      <%= link_to "木", subjects_path(params: { day: "木" }) %>　|　
      <%= link_to "金", subjects_path(params: { day: "金" }) %>　|　
      <%= link_to "全科目", subjects_path %>
    </div>
  </div>
</nav>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-info">
            <h4 class="card-title mt-0"><%= index_title_for_subjects(params[:day]) %></h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    科目名
                  </th>
                  <th>
                    曜日
                  </th>
                  <th>
                    人数
                  </th>
                </thead>
                <tbody>
                  <% @subjects.each do |subject| %>
                    <tr>
                      <td><%= link_to subject.title, subject_path(subject.title), id: "subject-title" %></td>
                      <td><%= subject.day %>曜日</td>
                      <td><%= subject.students.count %>人</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
