<% provide(:title, @subject.title) %>


<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header card-header-danger">
            <h4 class="card-title mt-0"><%= @subject.title %>　(<%= @subject.day %>)</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>
                    名前
                  </th>
                </thead>
                <tbody>
                  <% @subject.students.each do |student| %>
                    <tr>
                      <td><%= link_to student.name, student_path(student.id) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
