<% provide(:title, "欠席登録") %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">欠席登録</h4>
          </div>
          <div class="card-body">
            <%= form_with model: @absent_day, local: true do |form| %>
            <%= render 'shared/error_messages', object: @absent_day %>
            <form>
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <%= @student.grade %>　　　<%= @student.name %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= form.label :subject, class:"bmd-label-floating" %><br>
                    <%= form.select :subject, AbsentDay::SUBJECTS, prompt: "科目を選択してください。", class: 'form-control' %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <%= form.label :date, class:"bmd-label-floating" %>
                    <%= form.date_select :date, {}, class: 'form-control' %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-group">
                    </div>
                  </div>
                </div>
              </div>
              <%= hidden_field_tag :student_id, @student.id %>
              <%= form.submit "登録", class: 'btn btn-primary pull-right' %>
              <div class="clearfix"></div>
            <% end %>
          </div>
        </div>
      </div>
