<div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-1.jpg">
  <div class="logo">
    <%= link_to "MANAGEMENT APP", root_path, class: "simple-text logo-normal" %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="material-icons">dashboard</i>
          <p>トップページ</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to students_path, class: "nav-link" do %>
          <i class="material-icons">person</i>
          <p>生徒一覧</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to subjects_path, class: "nav-link" do %>
          <i class="material-icons">content_paste</i>
          <p>科目一覧</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to the_absent_students_path, class: "nav-link" do %>
          <i class="material-icons">person</i>
          <p>欠席者一覧</p>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to supplementary_students_path, class: "nav-link" do %>
          <i class="material-icons">person</i>
          <p>補習未実施者一覧</p>
        <% end %>
      </li>
      <% if user_signed_in? && current_user.admin? %>
        <li class="nav-item">
          <%= link_to new_student_path, class: "nav-link" do %>
            <i class="material-icons">library_books</i>
            <p>新規生徒登録</p>
          <% end %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">person</i>
            <p><%= current_user.name %></p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
            <%= link_to "設定", edit_user_registration_path %>
            <div class="dropdown-divider"></div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
        </li>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <i class="material-icons">person</i>
            <p>管理者権限</p>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
            <%= link_to "新規アカウント作成", "/users/sign_up" %>
            <%= link_to "アカウント削除", users_path %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
