<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="wrapper">
      <%= render 'layouts/sidebar' %>
      <div class="content">
        <div class="container-fluid">
          <div class="main-panel">
            <%= render 'layouts/flash_message' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
